**/.gradle/
**/build/
out/
classes/
**/run/
.idea/
/src/main/generated/.cache/
*.py
src/main/generated/logs/latest.log
/src/main/generated/logs
src/main/generated/logs/debug.log
src/main/generated/logs/latest.log
